<div class="privacy">
  <h1>Politique de Confidentialité</h1>

  <h2>1. Introduction</h2>
  <p>
    Je prends votre vie privée très au sérieux. Cette politique de
    confidentialité décrit comment je collecte, utilise, partage et protège vos
    informations personnelles conformément au Règlement Général sur la
    Protection des Données (RGPD).
  </p>

  <h2>2. Responsable du traitement des données</h2>
  <p>
    Le responsable du traitement des données est <strong>Cédric Gache</strong>.
    Vous pouvez me contacter à <strong>cedricwebdevelopment&#64;gmail.com</strong> pour toute
    question relative à la protection des données.
  </p>

  <h2>3. Données collectées</h2>
  <p>Je peux collecter et traiter les types de données suivants :</p>
  <ul>
    <li>
      <strong>Données personnelles identifiables</strong> : nom, adresse e-mail.
    </li>
    <li>
      <strong>Données de navigation</strong> : adresse IP, type de navigateur,
      pages visitées, temps passé sur le site.
    </li>
    <li>
      <strong>Autres informations</strong> : toute autre information que vous me
      fournissez directement via mes formulaires ou communications.
    </li>
  </ul>

  <h2>4. Utilisation des données</h2>
  <p>J'utilise vos données pour les finalités suivantes :</p>
  <ul>
    <li>Gérer et améliorer le site.</li>
    <li>Communiquer avec vous si nécessaire.</li>
    <li>
      Respecter les obligations légales et réglementaires, le cas échéant.
    </li>
  </ul>

  <h2>5. Partage des données</h2>
  <p>
    Je ne partage pas vos données personnelles avec des tiers, sauf si la loi
    l'exige.
  </p>

  <h2>6. Sécurité des données</h2>
  <p>
    Je mets en œuvre des mesures raisonnables pour protéger vos données
    personnelles contre toute perte, utilisation abusive, accès non autorisé,
    divulgation, altération ou destruction.
  </p>

  <h2>7. Vos droits</h2>
  <p>Conformément au RGPD, vous disposez des droits suivants :</p>
  <ul>
    <li>
      <strong>Droit d'accès</strong> : vous avez le droit de demander une copie
      de vos données personnelles.
    </li>
    <li>
      <strong>Droit de rectification</strong> : vous pouvez demander la
      correction de données inexactes ou incomplètes.
    </li>
    <li>
      <strong>Droit à l'effacement</strong> : vous pouvez demander la
      suppression de vos données personnelles.
    </li>
    <li>
      <strong>Droit à la limitation du traitement</strong> : vous pouvez
      demander la limitation de l'utilisation de vos données.
    </li>
    <li>
      <strong>Droit à la portabilité</strong> : vous avez le droit de recevoir
      vos données personnelles dans un format structuré et couramment utilisé.
    </li>
    <li>
      <strong>Droit d'opposition</strong> : vous pouvez vous opposer au
      traitement de vos données pour des motifs légitimes.
    </li>
  </ul>
  <p>
    Pour exercer ces droits, veuillez me contacter à
    <strong>cedricwebdevelopment&#64;gmail.com</strong>.
  </p>

  <h2>8. Conservation des données</h2>
  <p>
    Je conserve vos données personnelles aussi longtemps que nécessaire pour les
    finalités décrites dans cette politique, sauf si une période de conservation
    plus longue est requise ou permise par la loi.
  </p>

  <h2>9. Modifications de la politique de confidentialité</h2>
  <p>
    Je peux modifier cette politique de confidentialité à tout moment. Toute
    modification sera publiée sur cette page et, si les changements sont
    significatifs, je vous en informerai par e-mail.
  </p>

  <h2>10. Contact</h2>
  <p>
    Pour toute question ou préoccupation concernant cette politique de
    confidentialité, veuillez me contacter à
    <strong>cedricwebdevelopment&#64;gmail.com</strong>.
  </p>
</div>
