<div class="invoice" *ngIf="invoice$ | async as invoice">
  <h1>Création de factures</h1>

  <div class="customer" *ngIf="step === 1">
    <app-select-customer />
    <div class="customer-btn">
      <app-btn theme="cancel" title="Annuler" routerLink="/invoice" />
      <app-btn
        (onClick)="setStep(2)"
        theme="primary"
        title="Suivant"
        *ngIf="invoice.customer?.firstname; else disable"
      />
      <ng-template #disable>
        <app-btn theme="disabled" title="Suivant" />
      </ng-template>
    </div>
  </div>

  <div class="products" *ngIf="step === 2">
    <app-select-products />
    <div class="customer-btn">
      <app-btn theme="cancel" title="Précédent" (onClick)="setStep(1)" />
      <app-btn
        (onClick)="setStep(3)"
        theme="primary"
        title="Prévisualiser"
        *ngIf="invoice.productsList.length > 0; else disable"
      />
      <ng-template #disable>
        <app-btn theme="disabled" title="Prévisualiser" />
      </ng-template>
    </div>
  </div>

  <div class="preview" *ngIf="step === 3">
    <app-pdf-preview [invoice]="invoice" />
    <div class="customer-btn">
      <app-btn theme="cancel" title="Précédent" (onClick)="setStep(2)" />
      <app-btn theme="primary" title="Créer" (onClick)="createInvoice()" />
    </div>
  </div>
</div>
