<div class="invoice" *ngIf="step$ | async as step">
  <h1>Création de factures</h1>

  <div class="customer" *ngIf="step === 1">
    <app-select-customer />
  </div>

  <div class="products" *ngIf="step === 2">
    <app-select-products />
  </div>

  <div class="preview" *ngIf="step === 3">
    <div *ngIf="invoice$ | async as invoice">
      <div class="delivery" *ngIf="invoice.delivery.withDelivery">
        <app-pdf-delivery-preview [invoice]="invoice" />
      </div>
      <app-pdf-preview [invoice]="invoice" />
      <div class="customer-btn">
        <app-btn theme="cancel" title="Précédent" (handleClick)="previous()" />
        <app-btn
          theme="primary"
          title="Créer"
          (handleClick)="create()"
          
        />
      
      </div>
    </div>
  </div>
</div>
