<div *ngIf="documentDetail$ | async as documentDetail">
  <h2 >Choix du client :</h2>
  <div *ngIf="customers$ | async as customers">
    <ng-select
      placeholder="Rechercher un client"
      (change)="setCustomer($event)"
      (clear)="resetCustomer()"
      notFoundText="Aucun client trouvé"
    >
      @for (customer of customers; track customer.id) {
      <ng-option [value]="customer"
        >{{ customer.firstname }} {{ customer.lastname }}</ng-option
      >
      }
    </ng-select>
  </div>

  <div class="card">
    <div class="card-item">
      <img src="/icons/user.png" alt="nom" />
      <p>
        {{ documentDetail.customer.civility }}
        {{ documentDetail.customer.firstname }}
        {{ documentDetail.customer.lastname || "-" }}
      </p>
    </div>
    <div class="card-item">
      <img src="/icons/corporate.png" alt="société" />
      <p>{{ documentDetail.customer.company || "-" }}</p>
    </div>
    <div class="card-item">
      <img src="/icons/home.png" alt="adresse" />
      <div>
        <p>
          {{ documentDetail.customer.address || "-" }}
        </p>
        <p>
          {{ documentDetail.customer.postalCode }}
          {{ documentDetail.customer.city }}
        </p>
      </div>
    </div>
    <div class="card-item">
      <img src="/icons/phone.png" alt="téléphone" />
      <p>{{ documentDetail.customer.phone || "-" }}</p>
    </div>
    <div class="card-item">
      <img src="/icons/email.png" alt="email" />
      <p>{{ documentDetail.customer.email || "-" }}</p>
    </div>
  </div>

</div>
