<div class="products">
  <h1>Liste de mes produits</h1>
  <app-search-bar (search)="onSearch($event)" />
  <div class="btn">
    <app-btn
      title="nouveau produit"
      theme="secondary"
      iconUrl="/icons/add.png"
      routerLink="/products/create"
    />
  </div>

  <div *ngIf="products$ | async as products">
    <div *ngIf="!isLoading">
      <app-products-list
        [products]="products"
        [searchQuery]="searchQuery"
      ></app-products-list>
    </div>
    <div *ngIf="isLoading">
      <app-loader></app-loader>
    </div>
  </div>
</div>
