<div class="products">
  <h1>Liste de mes produits</h1>
  <app-search-bar (search)="onSearch($event)" />
  <div class="btn">
    <app-btn
      title="nouveau produit"
      theme="secondary"
      iconUrl="/icons/add.png"
      routerLink="/products/create"
    />
  </div>
  <div *ngIf="products$ | async as products">
    <app-products-list
      *ngIf="(isLoading$ | async) === false"
      [products]="products"
      [searchQuery]="searchQuery"
    ></app-products-list>
    <div *ngIf="isLoading$ | async">
      <app-loader></app-loader>
    </div>
  </div>
</div>
