<p class="total">
  {{ filteredInvoices.length }} / {{ invoices.length }} factures trouvés
</p>

<div class="invoice-list">
  <table mat-table [dataSource]="filteredInvoices" class="mat-elevation-z8">
    <ng-container matColumnDef="number">
      <th mat-header-cell *matHeaderCellDef class="number">N°</th>
      <td
        mat-cell
        *matCellDef="let invoice"
        class="number"
        [routerLink]="['/invoice/detail', invoice.id]"
      >
        {{ invoice.num || "-" }}
      </td>
    </ng-container>
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef class="date">Date</th>
      <td
        mat-cell
        *matCellDef="let invoice"
        class="date"
        [routerLink]="['/invoice/detail', invoice.id]"
      >
        {{ (invoice.createdAt | date : "dd/MM/yyyy") || "-" }}
      </td>
    </ng-container>
    <ng-container matColumnDef="customer">
      <th mat-header-cell *matHeaderCellDef>Client</th>
      <td
        mat-cell
        *matCellDef="let invoice"
        [routerLink]="['/invoice/detail', invoice.id]"
      >
        {{ invoice.customer.civility }} {{ invoice.customer.firstname }}
        {{ invoice.customer.lastname }}
      </td>
    </ng-container>
    <ng-container matColumnDef="produits">
      <th mat-header-cell *matHeaderCellDef class="produits">Produits</th>
      <td
        mat-cell
        *matCellDef="let invoice"
        class="produits"
        [routerLink]="['/invoice/detail', invoice.id]"
      >
        {{ invoice.productsList.length }}
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef class="delete">
        <img src="/icons/trash.png" alt="supprimer" class="trash" />
      </th>
      <td mat-cell *matCellDef="let invoice" class="delete">
        <button (click)="deleteInvoice(invoice.id)">
          <img src="/icons/delete.png" alt="supprimer" class="delete-btn" />
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      class="row"
    ></tr>
  </table>
  <p *ngIf="filteredInvoices.length === 0" class="not-found"
    >Aucun produits trouvés</p
  >
</div>
