<h2>Choix du client à facturer :</h2>
<div *ngIf="customers$ | async as customers">
  <ng-select
    placeholder="Rechercher un client"
    (change)="setCustomer($event)"
    (clear)="resetCustomer()"
  >
    @for (customer of customers; track customer.id) {
    <ng-option [value]="customer"
      >{{ customer.firstname }} {{ customer.lastname }}</ng-option
    >
    }
  </ng-select>
</div>

<div class="card" *ngIf="invoice$ | async as invoice">
  <div class="card-item">
    <img src="/icons/user.png" alt="nom" />
    <p>
      {{ invoice.customer.civility }} {{ invoice.customer.firstname }}
      {{ invoice.customer.lastname || "-" }}
    </p>
  </div>
  <div class="card-item">
    <img src="/icons/corporate.png" alt="société" />
    <p>{{ invoice.customer.company || "-" }}</p>
  </div>
  <div class="card-item">
    <img src="/icons/home.png" alt="adresse" />
    <div>
      <p>
        {{ invoice.customer.address || "-" }}
      </p>
      <p>{{ invoice.customer.postalCode }} {{ invoice.customer.city }}</p>
    </div>
  </div>
  <div class="card-item">
    <img src="/icons/phone.png" alt="téléphone" />
    <p>{{ invoice.customer.phone || "-" }}</p>
  </div>
  <div class="card-item">
    <img src="/icons/email.png" alt="email" />
    <p>{{ invoice.customer.email || "-" }}</p>
  </div>
</div>

<div class="delivery" *ngIf="invoice$ | async as invoice" >
  <div class="checkbox">
    <label for="delivery">Créer un bon de livraison :</label>
    <input type="checkbox" id="delivery" (change)="setDelivery($event)" [defaultChecked]="invoice.delivery?.withDelivery" />
  </div>
  <div class="delivery-adress" *ngIf="invoice.delivery?.withDelivery">
    <p>Adresse de livraison :</p>
    <form action="" >
      <div class="form-group">
        <label for="address">Adresse :</label>
        <input type="text" id="address" [defaultValue]="invoice.customer.address " [disabled]="!deliveryEditMode" />
      </div>
      <div class="form-group">
        <label for="postalCode">Code postale :</label>
        <input type="text" id="postalCode" [defaultValue]="invoice.customer.postalCode" [disabled]="!deliveryEditMode" />
      </div>
      <div class="form-group">
        <label for="locality">Ville :</label>
        <input type="text" id="locality" [defaultValue]="invoice.customer.city" [disabled]="!deliveryEditMode" />
      </div>
      <div class="delivery-btn">
      <app-btn *ngIf="!deliveryEditMode" title="Modifier l'adresse de livraison" theme="secondary" (onClick)="setDeliveryEditMode(true)"></app-btn>
      <app-btn *ngIf="deliveryEditMode" title="Sauvegarder les changement" (onClick)="setDeliveryEditMode(false)"></app-btn>
</div>
    </form>
  </div>
</div>
