@import "../../../../shared/styles/colors.scss";

.select {
  margin: 10px 0;
}

h2{
  margin: 20px 0;
}

.card {
  background-color: $color-primary;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 4px;
  &-item {
    display: flex;
    align-items: center;
    gap: 40px;
    height: 60px;
  }
  img {
    width: 30px;
    height: 30px;
  }
}

.delivery {
  p {
    margin: 20px 0;
  }
  .checkbox {
    margin: 40px 0;
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 700;
  }
}

input {
  margin: 10px 0;
}

.delivery-btn {
  margin: 20px 0;
}
