<div *ngIf="!isLoading">
  <div *ngIf="invoice" class="detail">
    <div class="title">
      <h2>Facture n° {{ invoice.num }}</h2>

      <app-btn
        title="Retour à la liste"
        theme="primary"
        routerLink="/invoice"
      ></app-btn>
    </div>
    <p>du {{ invoice.createdAt | date : "dd/MM/yyyy" }}</p>
    <app-pdf-preview [invoice]="invoice"></app-pdf-preview>
    <div class="preview-btn">
      <app-btn title="Ouvrir" theme="secondary" (handleClick)="openInvoicePdf()" ></app-btn>
      <app-btn title="Télécharger" theme="secondary" (handleClick)="downloadInvoicePdf()"></app-btn>
    </div>
  </div>
</div>
<div *ngIf="isLoading">
  <app-loader></app-loader>
</div>
