<h2>Choix du client à facturer :</h2>
<div>
  <ng-select
    placeholder="Rechercher un client"
    (change)="selectCustomer($event)"
    (clear)="resetCustomer()"
  >
    @for (customer of customers; track customer.id) {
    <ng-option [value]="customer"
      >{{ customer.firstname }} {{ customer.lastname }}</ng-option
    >
    }
  </ng-select>
</div>

<div class="card">
  <div class="card-item">
    <img src="/icons/user.png" alt="nom" />
    <p>
      {{ selectedCustomer?.civility }} {{ selectedCustomer?.firstname }}
      {{ selectedCustomer?.lastname || "-" }}
    </p>
  </div>
  <div class="card-item">
    <img src="/icons/corporate.png" alt="société" />
    <p>{{ selectedCustomer?.company || "-" }}</p>
  </div>
  <div class="card-item">
    <img src="/icons/home.png" alt="adresse" />
    <div>
      <p>
        {{ selectedCustomer?.address || "-" }}
      </p>
      <p>{{ selectedCustomer?.postalCode }} {{ selectedCustomer?.city }}</p>
    </div>
  </div>
  <div class="card-item">
    <img src="/icons/phone.png" alt="téléphone" />
    <p>{{ selectedCustomer?.phone || "-" }}</p>
  </div>
  <div class="card-item">
    <img src="/icons/email.png" alt="email" />
    <p>{{ selectedCustomer?.email || "-" }}</p>
  </div>
</div>
 

