.detail {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: auto;
    padding: 10px;
}

h2{
    margin: 20px 0;
}

p {
    margin: 10px 0;
}

.title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.preview-btn {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 20px auto;
    width: 100%;
    max-width: 300px;
    > * {
        flex: 1;
    }
    
}