.avatar {
    width: 35px;
    height: 35px;
    overflow: hidden;
    border-radius: 50%;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;}
}

.small {
    width: 35px;
    height: 35px;
}
.medium {
    width: 100px;
    height: 100px;
}
.large {
    width: 200px;
    height: 200px;
}