<footer>
  <div class="container">
    <div class="footer-section links">
      <a routerLink="/legal">Mentions Légales</a>
      <a routerLink="/privacy">Politique de confidentialité (RGPD)</a>
      <a routerLink="/terms">Conditions Générales d'utilisation (CGU)</a>
      <a>Plan du site</a>


    </div>
    <div class="footer-section">
      <p class="contact">Nous contacter :</p>
      <input type="text" placeholder="Email" />
      <textarea placeholder="Message"></textarea>
      <app-btn theme="secondary"  title="Envoyer"/>
    </div>
  </div>      <div class="copyright">
        © 2024 - Tous droits réservés - Créé par
        <a
          href="https://www.linkedin.com/in/amine-smahi/"
          target="_blank"
          class="copyright"
          >Cédric Gache</a
        >
      </div>
</footer>
