<footer>
  <div class="container">
    <div class="footer-section">
      <div>Mentions Légales</div>
      <div>Politique de confidentialité (RGPD)</div>
      <div>Conditions Générales d'utilisation (CGU)</div>
      <div>Plan du site</div>

      <div class="copyright">
        © 2021 - Tous droits réservés - Créé par
        <a
          href="https://www.linkedin.com/in/amine-smahi/"
          target="_blank"
          class="copyright"
          >Cédric Gache</a
        >
      </div>
    </div>
    <div class="footer-section">
      <div>Nous contacter :</div>
      <input type="text" placeholder="Email" />
      <textarea placeholder="Message"></textarea>
      <app-btn theme="secondary"  title="Envoyer"/>
    </div>
  </div>
</footer>
