@import "../../../shared/styles/colors.scss";

footer {
    background-color: $color-secondary;
    padding: 40px 20px;
    color: $color-text-light;
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: auto;
}

.footer-section div {
    margin-bottom: 20px;
}

.copyright {
    font-size: 12px;
    margin-top: 90px;
}

input, textarea {
    margin-bottom: 10px;
}