// theme tailwind Hippie Blue

$color-text-light: #f1f8fa;
$color-text-dark: #192833;
$color-text-disabled: #64a0b9;
$color-primary: #DCECF1;
$color-secondary: #386882;
$color-border : #bddae4;
$color-btn-primary: #407e9a;
$color-btn-secondary: #bddae4;
$color-btn-hover: #386882;
$color-btn-disabled: #dcecf1;
$color-btn-alert: #fa3131;