<div class="setting">
    <h1>Parametrer mes factures</h1>
    <form *ngIf="settings$ |async as settings" [formGroup]="settingsForm" >
        <div class="setting-form">
            <label for="tva-setting">Montant de la TVA (%) :</label>
            <input type="number" id="tva-setting" formControlName="tva"   />
        </div>
        <div class="setting-form">
            <label for="invoice-start">Afficher mon logo :</label>
            <input type="checkbox" id="logo-setting" formControlName="showLogo"  />
        </div>
        <div class="setting-form">
            <label for="invoice-start">Afficher mon adresse mail :</label>
            <input type="checkbox" id="logo-setting" formControlName="showEmail" />
        </div>
        <div class="btn">
        </div>
        <div class="setting-btn">
            <app-btn title="Annuler" theme="cancel" routerLink="/" />
            <app-btn *ngIf="isLoading$ | async; else notLoading" theme="loading" />
            <ng-template #notLoading>
              <app-btn title="Enregistrer" theme="disabled"  />
            </ng-template>
          </div>
        
    </form>
</div>