.menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px 20px;
  a {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid transparent;
    transition: all 0.2s;
  }

  img {
    width: 30px;
    height: 30px;
  }

  // .active {
  //   border-bottom: 2px solid #000;
  // }

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    max-width: 1440px;
    margin: auto;
    margin-bottom: 40px;
    .active {
      border-bottom: 2px solid black;
    }

  }
}

.login-btn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  @media (min-width: 768px) {
    display: none;
  }
}

.mobile {
  @media (min-width: 768px) {
    display: none;
  }
}
