<div class="add-product">
  <h1 *ngIf="!editMode">Ajouter un produit</h1>
  <h1 *ngIf="editMode">Modifier le produit : {{ product?.name }}</h1>
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="name">Nom :</label>
      <input type="text" id="name" formControlName="name" />
    </div>
    <div class="form-group">
      <label for="ref">Référence : (facultatif)</label>
      <input type="text" id="ref" formControlName="reference" />
    </div>
    <div class="price">
      <div class="form-group">
        <label for="price">Prix (€ HT) :</label>
        <input type="number" id="price" formControlName="price" />
      </div>
      <div class="form-group">
        <label for="tva">TVA :</label>
        <select id="tva" formControlName="tva">
          <option *ngFor="let item of tvaSelect" [value]="item">
            {{ item | tva }}
          </option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="description">Description : (facultatif)</label>
      <textarea
        type="text"
        id="description"
        formControlName="description"
      ></textarea>
    </div>
    <div class="add-product-btn">
      <app-btn title="Annuler" theme="cancel" routerLink="/products" />
      <app-btn *ngIf="isLoading$ | async; else notLoading" theme="loading" />
      <ng-template #notLoading>
        <app-btn title="Enregistrer" theme="submit" />
      </ng-template>
    </div>
  </form>
  <p class="error-message" *ngIf="errorMessages">{{ errorMessages }}</p>
</div>
