<div class="home">
  <div class="hero">
    <img src="images/hero.webp" alt="bureau" />
    <div class="title">
      <h1>Créer vos factures en quelques clic !</h1>
      <p>
        Gérer votre liste de produits et clients, et créer vos factures au
        format PDF
      </p>
    </div>
  </div>
  <div class="cta">
    <app-btn *ngIf="!user else Auth " title="Se connecter / S'inscrire" theme="secondary" routerLink="/signin" />
    <ng-template #Auth>
      <app-btn title="Créer une facture" theme="secondary" routerLink="/invoice/create" />
    </ng-template>
  </div>
</div>
