<div class="invoices">
  <h1>Liste de mes factures</h1>
  <app-search-bar (search)="onSearch($event)" />
  <div class="btn">
    <app-btn
      title="Nouvelle facture"
      theme="secondary"
      iconUrl="/icons/add.png"
      routerLink="create"
    />
  </div>

  <div *ngIf="invoices$ | async as invoices">
    <div *ngIf="!isLoading">
      <app-invoices-list [invoices]="invoices" [searchQuery]="searchQuery" />
    </div>
    <div *ngIf="isLoading">
      <app-loader></app-loader>
    </div>
  </div>
</div>
