<div class="invoices">
  <h1>Liste de mes factures</h1>
  <app-search-bar (search)="onSearch($event)" />
  <div class="btn">
    <app-btn
      title="Nouvelle facture"
      theme="secondary"
      iconUrl="/icons/add.png"
      [routerLink]="['/invoice/new']"
    />
  </div>

  <div *ngIf="invoices$ | async as invoices">
    <app-invoices-list
      [invoices]="invoices"
      [searchQuery]="searchQuery"
      *ngIf="(isLoading$ | async) === false"
    />
    <div *ngIf="isLoading$ | async">
      <app-loader></app-loader>
    </div>
  </div>
</div>
