<div class="maker" *ngIf="step$ | async as step">
  <h1 *ngIf="createMode === 'invoice'">Création de factures</h1>
  <h1 *ngIf="createMode === 'delivery'">Création de bon de livraison</h1>

  <div class="customer" *ngIf="step === 1">
     <app-select-customer />
    <app-delivery-address-form *ngIf="createMode === 'delivery'" />
    <div class="btn">
      <app-btn
        *ngIf="createMode === 'invoice'"
        title="Annuler"
        theme="secondary"
        [routerLink]="['/invoice']"
      />
      <app-btn
        *ngIf="createMode === 'delivery'"
        title="Annuler"
        theme="secondary"
        [routerLink]="['/delivery']"
      />
      <ng-container *ngIf="documentDetail$ | async as documentDetail">
        <app-btn
          title="Suivant"
          theme="primary"
          (handleClick)="setStep(2)"
          *ngIf="documentDetail.customer.id"
        />
        <app-btn
          title="Suivant"
          theme="disabled"
          *ngIf="!documentDetail.customer.id"
        />
      </ng-container>
    </div>
  </div>

  <div class="products" *ngIf="step === 2">
    <div *ngIf="!invoiceType && createMode === 'invoice'">
      <h2>Choisissez comment créer votre facture :</h2>
      <div class="btn-choice ">
        <app-btn
          title="Manuellement"
          theme="secondary"
          (handleClick)="setInvoiceType('manual')"
        />
        <app-btn
          title="A partir des bons de livraison"
          theme="secondary"
          (handleClick)="setInvoiceType('withDelivery')"
        />
      </div>
    </div>
    <app-select-deliveries
      *ngIf="createMode === 'invoice' && invoiceType === 'withDelivery'"
    />
    <app-select-products
      *ngIf="createMode === 'delivery' || invoiceType === 'manual'"
    />
    <div class="btn" *ngIf="invoiceType || createMode === 'delivery'">
      <app-btn
        title="Précédent"
        theme="secondary"
        (handleClick)="undoSelectProducts()"
      />
      <ng-container *ngIf="documentDetail$ | async as documentDetail">
        <ng-container *ngIf="documentDetail.productsList.length > 0">
          <app-btn
            *ngIf="createMode === 'delivery'"
            title="Créer le bon"
            theme="primary"
            (handleClick)="createDelivery()" />
          <app-btn
            *ngIf="createMode === 'invoice'"
            title="Créer la facture"
            theme="primary"
            (handleClick)="createInvoice()"
        /></ng-container>
        <ng-container *ngIf="documentDetail.productsList.length === 0">
          <app-btn
            *ngIf="createMode === 'delivery'"
            title="Créer le bon"
            theme="disabled"
             />
          <app-btn
            *ngIf="createMode === 'invoice'"
            title="Créer la facture"
            theme="disabled"
            />
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>

