@import "../../../shared/styles/colors.scss";

button {
  color: $color-text-light;
  display: flex;
  align-items: center;
  gap: 30px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: block;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; 
  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
  }
  img {
    width: 25px;
    height: 25px;
  }
}

.primary,
.submit {
  background-color: $color-btn-primary;
  &:hover {
    background-color: $color-btn-hover;
  }
}

.secondary {
  background-color: $color-btn-secondary;
  color: $color-text-dark;
  &:hover {
    background-color: $color-btn-hover;
  }
}

.disabled,
.loading {
  background-color: $color-btn-disabled;
  cursor: not-allowed;
}

.alert {
  background-color: $color-btn-alert;
  &:hover {
    background-color: darken($color-btn-alert, 10%);
  }
}
.cancel {
  background-color: $color-btn-secondary;
  &:hover {
    background-color: $color-btn-hover;
  }
}
