@import "../../../../shared/styles/colors.scss" ;



.total {
  text-align: center;
  margin: 20px 0;
}

.description , .ref {
  @media (max-width: 768px) {
    display: none;
    
  }
}

.delete {
  text-align: center;

  .delete-btn {
    width: 16px;
    height: 16px;
    cursor: pointer;
  }
}
.not-found {
  text-align: center;
  margin: 20px 0;
}

.dialog-btn {
  display: flex;
  justify-content: space-between;
}

.trash {
  width: 20px;
  height: 20px;
}

.row {
  cursor: pointer;
transition: all 0.3s;
&:hover {
 background-color: lighten($color:$color-btn-secondary, $amount: 10) ;
} 
}